elenco.dtd

<?xml version="1.0"?>
<!DOCTYPE alberghi [
<!ELEMENT alberghi (albergo*)>
<!ELEMENT albergo (comune, provincia, categoria, tipologia, denominazione, localita, frazione, indirizzo, cap, telefono, cellulare, fax, indirizzo_posta_elettronica, sito_internet, camere, posti_letto, bagni, periodo_apertura, centro_abitato, zona_aereoporto, zona_stazione_ffss, in_campagna, sul_mare, sul_lago, sul_fiume, zona_impianti_risalita, interesse_storico, villa, castello, accessibile, ascensore, ristorante, ristorante_convenzionato, ristorante_vegetariano, tavola_calda, bar, giochi_bambini, sala_lettura, sala_tv, sala_tv_comune, parco_giardino, animali_domestici, servizio_congressi, servizio_congressi_min, servizio_congressi_max, accettazione_gruppi, accesso_mezzi_pubblici, accesso_mezzi_privati, parcheggio_non_custodito, garage, trasporto_clienti, pulizia_calzature, lavatura_stiratura, baby_sitting, altri_impianti_servizi, custodia_valori_cassaforte, custodia_valori_cassetta_sicurezza, vasca_idromassaggio, doccia_idromassaggio, doccia_sauna, sauna_privata, palestra, impianti_termali, centro_benessere, spiaggia_riservata, discoteca, postazioni_internet, tv_satellitare, aria_condizionata, lingua_inglese, lingua_francese, lingua_spagnola, lingua_tedesca, altre_lingue, tennis, piscina_coperta, piscina_scoperta, golf, equitazione, vela, windsurf, sub, ricarica_bombole_sub, sci_nautico, sci_montano, ormeggio, altri_impianti_sportivi, american_express, carta_si, diners, eurocard_mastercard, jcb, visa, bancomat_pos, cirrus, maestro, altre_carte_credito, codice_esercizio)>
<!ELEMENT comune (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT categoria (#PCDATA)>
<!ELEMENT tipologia (#PCDATA)>
<!ELEMENT denominazione (#PCDATA)>
<!ELEMENT localita (#PCDATA)>
<!ELEMENT frazione (#PCDATA)>
<!ELEMENT indirizzo (#PCDATA)>
<!ELEMENT cap (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT cellulare (#PCDATA)>
<!ELEMENT fax (#PCDATA)>
<!ELEMENT indirizzo_posta_elettronica (#PCDATA)>
<!ELEMENT sito_internet (#PCDATA)>
<!ELEMENT camere (#PCDATA)>
<!ELEMENT posti_letto (#PCDATA)>
<!ELEMENT bagni (#PCDATA)>
<!ELEMENT periodo_apertura (#PCDATA)>
<!ELEMENT centro_abitato (#PCDATA)>
<!ELEMENT zona_aereoporto (#PCDATA)>
<!ELEMENT zona_stazione_ffss (#PCDATA)>
<!ELEMENT in_campagna (#PCDATA)>
<!ELEMENT sul_mare (#PCDATA)>
<!ELEMENT sul_lago (#PCDATA)>
<!ELEMENT sul_fiume (#PCDATA)>
<!ELEMENT zona_impianti_risalita (#PCDATA)>
<!ELEMENT interesse_storico (#PCDATA)>
<!ELEMENT villa (#PCDATA)>
<!ELEMENT castello (#PCDATA)>
<!ELEMENT accessibile (#PCDATA)>
<!ELEMENT ascensore (#PCDATA)>
<!ELEMENT ristorante (#PCDATA)>
<!ELEMENT ristorante_convenzionato (#PCDATA)>
<!ELEMENT ristorante_vegetariano (#PCDATA)>
<!ELEMENT tavola_calda (#PCDATA)>
<!ELEMENT bar (#PCDATA)>
<!ELEMENT giochi_bambini (#PCDATA)>
<!ELEMENT sala_lettura (#PCDATA)>
<!ELEMENT sala_tv (#PCDATA)>
<!ELEMENT sala_tv_comune (#PCDATA)>
<!ELEMENT parco_giardino (#PCDATA)>
<!ELEMENT animali_domestici (#PCDATA)>
<!ELEMENT servizio_congressi (#PCDATA)>
<!ELEMENT servizio_congressi_min (#PCDATA)>
<!ELEMENT servizio_congressi_max (#PCDATA)>
<!ELEMENT accettazione_gruppi (#PCDATA)>
<!ELEMENT accesso_mezzi_pubblici (#PCDATA)>
<!ELEMENT accesso_mezzi_privati (#PCDATA)>
<!ELEMENT parcheggio_non_custodito (#PCDATA)>
<!ELEMENT garage (#PCDATA)>
<!ELEMENT trasporto_clienti (#PCDATA)>
<!ELEMENT pulizia_calzature (#PCDATA)>
<!ELEMENT lavatura_stiratura (#PCDATA)>
<!ELEMENT baby_sitting (#PCDATA)>
<!ELEMENT altri_impianti_servizi (#PCDATA)>
<!ELEMENT custodia_valori_cassaforte (#PCDATA)>
<!ELEMENT custodia_valori_cassetta_sicurezza (#PCDATA)>
<!ELEMENT vasca_idromassaggio (#PCDATA)>
<!ELEMENT doccia_idromassaggio (#PCDATA)>
<!ELEMENT doccia_sauna (#PCDATA)>
<!ELEMENT sauna_privata (#PCDATA)>
<!ELEMENT palestra (#PCDATA)>
<!ELEMENT impianti_termali (#PCDATA)>
<!ELEMENT centro_benessere (#PCDATA)>
<!ELEMENT spiaggia_riservata (#PCDATA)>
<!ELEMENT discoteca (#PCDATA)>
<!ELEMENT postazioni_internet (#PCDATA)>
<!ELEMENT tv_satellitare (#PCDATA)>
<!ELEMENT aria_condizionata (#PCDATA)>
<!ELEMENT lingua_inglese (#PCDATA)>
<!ELEMENT lingua_francese (#PCDATA)>
<!ELEMENT lingua_spagnola (#PCDATA)>
<!ELEMENT lingua_tedesca (#PCDATA)>
<!ELEMENT altre_lingue (#PCDATA)>
<!ELEMENT tennis (#PCDATA)>
<!ELEMENT piscina_coperta (#PCDATA)>
<!ELEMENT piscina_scoperta (#PCDATA)>
<!ELEMENT golf (#PCDATA)>
<!ELEMENT equitazione (#PCDATA)>
<!ELEMENT vela (#PCDATA)>
<!ELEMENT windsurf (#PCDATA)>
<!ELEMENT sub (#PCDATA)>
<!ELEMENT ricarica_bombole_sub (#PCDATA)>
<!ELEMENT sci_nautico (#PCDATA)>
<!ELEMENT sci_montano (#PCDATA)>
<!ELEMENT ormeggio (#PCDATA)>
<!ELEMENT altri_impianti_sportivi (#PCDATA)>
<!ELEMENT american_express (#PCDATA)>
<!ELEMENT carta_si (#PCDATA)>
<!ELEMENT diners (#PCDATA)>
<!ELEMENT eurocard_mastercard (#PCDATA)>
<!ELEMENT jcb (#PCDATA)>
<!ELEMENT visa (#PCDATA)>
<!ELEMENT bancomat_pos (#PCDATA)>
<!ELEMENT cirrus (#PCDATA)>
<!ELEMENT maestro (#PCDATA)>
<!ELEMENT altre_carte_credito (#PCDATA)>
<!ELEMENT codice_esercizio (#PCDATA)>
]>